---
import Layout from "../layouts/Layout.astro";
import Home from "../components/Home.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Experience from "../components/Experience.astro";
import Contact from "../components/Contact.astro";
import { changeLanguage } from "i18next";

changeLanguage("es");
---

<Layout>
    <section id="home" class="w-full h-screen bg-cover bg-center" style="background-image: url('/images/fondo.jpg');">
        <Home/>
    </section>
    
    <section id="about" class="w-full bg-zinc-400 bg-opacity-10">
        <About/>
    </section>
    
    <section id="projects" class="w-full">
        <Projects/>
    </section>

    <section id="experience" class="w-full bg-zinc-400 bg-opacity-10">
        <Experience/>
    </section>
    
    <section id="contact">
        <Contact/>
    </section>

    <a class="floating-language-switch" href="https://portfolio-fernando-juela.vercel.app/en/#home">English</a>
</Layout>
