---

---

<div>
    <img src="https://media.licdn.com/dms/image/D4E03AQFqn5n98zhvAA/profile-displayphoto-shrink_200_200/0/1684776357020?e=2147483647&v=beta&t=NJWM2FP9tnusPjVGTaypA9GHf9EuzheTnl7IP6VaBjw" alt="Fernando Juela" class="profile-pic"/>
    <div class="card">
        <h3>Sobre mí</h3>
        <p>Nombre completo: Fernando Juela</p>
        <p>Fecha de nacimiento: 01/01/1990</p>
        <p>Teléfono: +593 98 828 4405 - +593 963 61 6445</p>
        <p>Breve descripción...</p>
    </div>
</div>