---
const { title, description } = Astro.props;
---

<div class="card bg-opacity-20 bg-gray-400 flex flex-col w-full sm:w-1/4">
    <h2 class="sm:text-3xl pb-1 sm:border-b-2 border-b-1 border-orange-500 text-orange-400">{title}</h2>
    <p class="sm:text-xl text-sm pt-2">{description}</p>
    <slot/>
</div>

<style>
    .card {
        border: 1px solid #ccc;
        padding: 16px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin-bottom: 16px;
    }

</style>