---
import Header from '../components/Header.astro';
import { t } from "i18next";
import i18next from '../../i18m.js';
import LanguageSwitcher from '../components/LanguageSwitcher.jsx'; 
import { Trans, HeadHrefLangs } from "astro-i18next/components";
---

<!doctype html>
<html lang={i18next.language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={t("site.description")} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
		<meta name="generator" content={Astro.generator} />
		<HeadHrefLangs />
		<title>{t("site.title")}</title>
	</head>
	<body>
		<Header/>
		<main class="w-full flex flex-col items-center">
			<slot />
		</main>
		<LanguageSwitcher />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: system-ui, sans-serif;
		
	}
	body {
		display: flex;
		flex-direction: column;
		align-items: center;
        background: linear-gradient(90deg, #070603, #270f07);
		margin: 0;
	}

	.floating-language-switch {
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px 20px;
        font-size: 16px;
        background-color: #d66508;
        color: white;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 1000;
      }

      .floating-language-switch:hover {
        background-color: #ff7300;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
      }
	
</style>
